<!--------------------->
<!--! Bloc annonce  -->
<!--------------------->

<div id="ann_content">
	
	<!--------------------------------->
	<!--! L'image de l'annonce  	 -->
	<!--! Multiple image a implenter -->
	<!--------------------------------->
	<div id="ann_img_box">
		<span id="tarif">Tarif : 125 000€</span>
		<div id="ann_img">
			<img src="{{ asset('bundles/punnetSite/images/imac.png') }}" id="picture" alt="Une image" />
		</div>
	</div>
	<div id="ann_box">
		<h1 id="titre">Le titre de l'annonce demandé</h1>
		<span id="datetime">Ajouté le 1 avril 2014 à 22H00</span>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 			   enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 		   reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 		   in culpa qui officia deserunt mollit anim id est laborum.</p>
		<br/>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 			   enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 		   reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 		   in culpa qui officia deserunt mollit anim id est laborum.</p>
	
	</div>
	
	<div class="clear"></div>
</div>