<fieldset>
	<input type="text" class="adv_search_txt" name="" placeholder="Mot clé" />
	<input type="text" class="adv_search_postal" name="" placeholder="Code Postal ou Ville" />
	<select class="adv_search_slc"><option>Catégorie</option></select>
	<input type="submit" value="Trouver" id="adv_search_sub" />
</fieldset>