<ul class="head_on">
<li class="header_ctt_on">Annonces</li>
<li class="header_ctt_1">Souhaits</li>
<li class="header_ctt_2">Actualités</li>
<li class="header_ctt_3">Informations</li>
</ul>

<div class="clear"></div>