{% extends('::base_comingsoon.html.twig') %}

{% block body %}
<div class="accueil">
	<input type="text" class="" name="" placeholder="Adresse mail"/>
	<input type="submit" value="M'inscrire" name="" />
</div>
{% endblock %}

