<div id="usr-annonce">

	<h1 id="title">Vos annonces</h1>

	<ul class="head-ann-top">
		<li class="head-ann_id"	  >	Id		  </li>
		<li class="head-ann_title"> Titre	  </li>
		<li class="head-ann_date" >	Date	  </li>
		<li class="head-ann_opt"  >	Editer	  </li>
		<li class="head-ann_opt"  >	Supprimer </li>
		<li class="head-ann_opt"  >	Lecture	  </li>
		<li class="head-ann_opt"  >	Statut	  </li>
		
		<li class="ct-ann_id"	>	01		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="green">Vendu ! </span> </li>
		
		<li class="ct-ann_id"	>	02		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="red">Actif </span> </li>
		
		<li class="ct-ann_id"	>	03		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="red">Actif </span> </li>
		
		<li class="ct-ann_id"	>	04		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="red">Actif </span> </li>
		
		<li class="ct-ann_id"	>	05		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="red">Actif </span> </li>
		
		<li class="ct-ann_id"	>	06		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="green">Vendu ! </span> </li>
		
		<li class="ct-ann_id"	>	07		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="red">Actif </span> </li>
		
		<li class="ct-ann_id"	>	08		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="red">Actif </span> </li>
		
		<li class="ct-ann_id"	>	09		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="red">Actif </span> </li>
		
		<li class="ct-ann_id"	>	1000		  </li>
		<li class="ct-ann_title"> 	Un titre d'annonce lamba	</li>
		<li class="ct-ann_date" >	19/10/2014	  </li>
		<li class="ct-ann_opt"  >	<span class="green">V </span> </li>
		<li class="ct-ann_opt"  >	<span class="red">X </span> </li>
		<li class="ct-ann_opt"  >	18 vues	  </li>
		<li class="ct-ann_opt"  >	<span class="red">Actif </span> </li>

		<div class="clear"></div>
	</ul>

</div>